In [1]:
print('Hello World!') #My very first Python code

Hello World!

In [12]:
#Python Data Types
#1.Numbers
#Intergers and Float

In [8]:
#Integer (int)
x = 1
y = 2
print(x + y)

3

In [7]:
#Float
x = 1.5
y = 2.0
print(x + y)

3.5

In [9]:
#Strings
x = 'Hello'
y = 'World'
print(x + y)

HelloWorld

In [10]:
print('My Name is Ivan') #Single Quotation Mark

My Name is Ivan

In [11]:
print("My Name is Ivan") #Double Quotation Mark

My Name is Ivan

In [13]:
print('My Name is Ivan")

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-13-c9358ca9ca60>, line 1)

In [16]:
x = '123456'
y = 123456
z = 7890.00
print('This is a string,',x)
print ("This is an integer",y)
print ('This is a float',z)

This is a string, 123456
This is an integer 123456
This is a float 7890.0

In [18]:
#\n (for spacing)
print('Nica \nElla \nEstoque')

Nica
Ella
Estoque

In [23]:
#mathematical Operators
#Addition (=)
#Subtraction (-)
#Multiplication (*)
#Division (/)
#Modulo Operator (%)
#Exponential (**)
#Floor Division (//)

a = 2
b = 3
print(a + b) #Addition
print(a -b) #Subtraction
print(a * b) #Multiplication
print(a / b) #Division


x = 9
y = 4
print(9 % 4) #Modulo Operator

print(x ** 2)
print(2 ** 3) #Exponential

5
-1
6
0.6666666666666666
1
81
8

In [25]:
print(9 / 5) #Division
print( 9 // 5) #Floor Division

1.8
1

In [28]:
#Comparison Operators
# Less than (<)
#Greater than (>)
# Equal to (==)
# Not equal to (!=)
# Greater than or equal to (>=)
#Less than or equal to (<=)
#Output results to Boolean values (True or False)

x = 10
y = 5
print(x < y)
print(x > y)
print(x == y)
print(x != y)
print(x >= y)
print(x <= y)

False
True
False
True
True
False

In [32]:
#Boolean Operators
#or
#and
#not

print(x or y)
print(x and y)
print(x, not y)

10
5
10 False

In [45]:
#Looping

x = 5

if x == 10:
  print('Equal to')
else:
  print('Less than')

Less than

In [48]:
#Assignment of Variables

#Strings
name = 900
surname = 500
print(name + surname)

#Numbers
hours = 8
score = 90

print(hours)
print(score)

#Naming Variable (always use small cap)
name = 'Ivan'
unitPrice = 100
unit_price = 200

1400
8
90

In [49]:
f_name ='Ivan'
l_name = 'Villena'
age = 39

print(f"My name is {f_name} {l_name} and I am {age} years old" )

My name is Ivan Villena and I am 39 years old

In [55]:
#Built-in functions
#type() to know the data type
#Rounding off rond()

x = 9 #Integer
y = 8.7888889999 #float
z = 'Ivan' #string

round(y,0)

9.0